* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    text-align: center;
    border-collapse: collapse;
}
table th, td {
    padding: 10px;
}

table thead {
    background-color: #a9a9a9;
}

tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}
h1 {
    font-size: 1.5em;
    text-align: center;
}

@media screen and (max-width: 460px) {
    table {
        width: 90%;
    }
    h1 {
        width: 90%;
    }
}
